<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-FR" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <title>{{ site.title | default: site.github.repository_name }}</title>
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <nav>
          <ul>
            <li><a href="{{ "/" | absolute_url }}">Accueil</a></li>
            <li><a href="{{ "/projets.html" | absolute_url }}">Projets</a></li>
            <li><a href="{{ "/blog.html" | absolute_url }}">Blog</a></li>
            <li><a href="{{ "/contact.html" | absolute_url }}">Contact</a></li>
          </ul>
        </nav>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>Propulsé par <a href="https://pages.github.com">GitHub Pages</a> &mdash; Thème par <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
  </body>
</html>
